@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Darumadrop+One&family=IBM+Plex+Sans&family=Poppins&display=swap');

/* Hide number input arrows for mozilla firefox */
input[type="number"] {
    -moz-appearance: textfield;
    appearance: textfield;
}

/* Hide number input arrows for Safari, Chrome, Opera, Microsoft Edge*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

* { 
    margin:0;
    padding:0;
    box-sizing: border-box; 
    /* font-family:"Darumadrop One", "Poppins", "Bebas Neue",serif; */
    font-family:"Bebas Neue", "Poppins", serif;
}

.navbar-container {
    font-size:2em;
    background-color: rgb(181, 181, 243);
    min-height:10vh;
    display:flex;
    align-items: center;
    justify-content: space-around;
    box-shadow: 10px 5px 5px rgb(122, 113, 113);
}

.navbar-left{
    margin:0 3em;
    
}

.navbar-right{
    display:flex;
    align-items:center;
}

ul {
    display:flex;
    padding:1rem;
    justify-content: center;
}

li {
    list-style-type: none;
    padding: 0 5rem;
    color:black;
}

li:hover {
    color:white;
}

li:active {
    color:black;
}

a {
    text-decoration: none;
}

.App-wrapper {
    display:flex;
    flex-direction: column;
    min-height: 100vh;
    flex-wrap:wrap;
    background-color: rgb(80, 171, 224);
}

/* media queries for .App-wrapper and other for nav bar */