/*TO-DO: Make the font size for everything larger, refine overall look */

.posts-wrapper {
    display:flex;
    flex-direction: column;
    margin:0 auto;
    /* border:1px solid rgb(28, 181, 20); */
}


.single-post-container {
    display:flex;
    flex-direction: column;
    border:1px solid rgb(126, 66, 66);   
    padding: 1em;
}

div > .single-body {
    display:flex;
    flex-direction: column;
    border:1px solid black;
    margin:1em auto 0;
    width:65vw;
    height:20em;
    padding:0.5em;
    box-shadow: 10px 5px 5px rgb(226, 195, 195);
    text-align: left;
}

.delete-btn,
.edit-btn,
.send-message-btn {
    cursor:pointer;
}

.viewpost-btn-container {
    display:flex;
    gap:2em;
    justify-content: center;
    padding:1em;
}

.post-message-container {
    display:flex;
    flex-direction:column;
    border:1px solid rgb(228, 39, 178);
}

.message-wrapper {
    display:flex;
    flex-direction:column;
    border:1px solid black;
    margin:1em auto;
}